body {
    text-align: center;
    margin:auto;
    padding: 100px;
}
section{
	text-align: center;
}
.child{
	float:left;
	padding-left: 30%;
	margin-top:10px;
}
.child1{
	float:right;
	padding-right: 30%;
	margin-top:60px;
	
}