body {
    background-color: bisque;
    font-family: monospace;
    cursor: url("assets/cur.png"), auto;
    display: grid;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p {
    color: salmon;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
	padding-bottom: 10px
}
p1{
	color: black;
	font-weight: bold;
    font-size: 20px;
    text-align: center;
}
img{
	text-align: center;
}
h1 {
    font-size: 40px;
}
